body {
    font-family: Arial, sans-serif;
    background-color: firebrick;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: red;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: darkred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px; /* Space between list items */
    border-radius: 5px;
}

li:hover {
    background-color: lightgray;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

